@import '../../../../Variables.scss';

.events {
    background-color: $medium-light-color;

    .item {
        cursor: pointer;
        text-align: center;

        .content {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 3rem;
            border-radius: $sm-border-radius;
            overflow: hidden;

            .thumb {
                overflow: hidden;
                position: relative;

                img {
                    width: 100%;
                    transition: $main-transition;

                    &:hover {
                        transform: scale(1.025);
                    }
                }
            }
        }

        .description {
            padding: 2rem;

            small {
                color: $medium-dark-color;
            }

            .date {
                display: block;
                padding: .2rem .8rem;
                margin: 1rem auto;
                border-radius: $sm-border-radius;
                background-color: $primary-color;
                color: $light-color;
                width: fit-content;
            }
        }
    }

}

.thumb-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $light-color;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    .event-image {
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            border-radius: $sm-border-radius;
        }
    }

    .event-description {
        color: $primary-color;

        i {
            margin-right: .5rem;
        }

        h2 {
            font-size: 2rem;
            color: $dark-color;
        }

        span {
            display: block;
            margin: 0 0 .3rem .5rem;
        }

        .event-date {
            background-color: $accent-color;
            border-radius: $lg-border-radius;
            display: inline-block;
            padding: 0 1rem;
            margin: .5rem 0 1rem 0;
        }
    }

    .close-icon {
        position: fixed;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        cursor: pointer;
    }
}

// .thumb-modal {

//         h6,
//         p,
//         .separator,
//         .tools {
//             display: none;
//         }

//         img {
//             max-height: 600px;
//             width: auto;
//             border-radius: $lg-border-radius;
//         }

//         .tools {
//             span {
//                 display: inline-block;
//                 border: 1px solid $primary-color;
//                 border-radius: $lg-border-radius;
//                 padding: 0.2rem 0.5rem;
//                 margin: 0 0.1rem 0.5rem;
//                 color: $primary-color;
//                 font-size: 0.8rem;
//             }
//         }


//     }
// }

// @media screen and (min-width: 992px) {
//     .thumb-modal {
//         .content-wrapper {
//             text-align: left;

//             h6,
//             p,
//             .separator,
//             .tools {
//                 display: block;
//             }
//         }
//     }
// }