@import '../../Variables.scss';

.collaborations {
    margin-bottom: 2rem;
    text-align: center;

    .item {
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            opacity: .8;
            transition: $main-transition;
            width: auto;

            &:hover {
                opacity: 1;
            }
        }

        &:nth-child(2) img,
        &:nth-child(8) img {
            width: 70%;
        }

        &:nth-child(7) img {
            width: 80%;
        }
    }
}