@import '../../Variables.scss';

.top {
    display: none;
}

@media screen and (min-width: 992px) {
    .top {
        display: block;
        padding: 1rem;
        background-color: $primary-color;
        color: $light-color;

        .container {
            .row {
                .content-wrapper {
                    display: flex;
                    justify-content: space-between;
                    gap: 1rem;

                    .contact-info,
                    .social {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        .item a {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                        }
                    }
                }
            }
        }
    }
}