$primary-color: #286955;
$primary-dark-color: #353535;
$primary-medium-dark-color: #3c3c3c;

$light-color: #ffffff;
$medium-light-color: #f5f5f5;

$dark-color: #2e3a32;
$medium-dark-color: #888888;

$accent-color: #ebcb57;

$border: 1px solid #188c911a;
$lg-border-radius: 2rem;
$sm-border-radius: .3rem;

$main-transition: all .3s;